.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 2.5% 2.5% 2.5% ;
}

body {
    background-color: black;
}

/* Header  */
header {
    width: 100%;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}
h1 {
    font-family: sans-serif;
    color: beige;

}

.bio-icon {
    font-size: 2em;
}


/* Project Tiles */
.project-tile-section {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    gap: 50px 50px;
    width: 100%;
    max-width: 1200px;
    background-color:cornflowerblue;
    margin-top: 5%;
}

.project-tile-container {
    width: 350px;
    flex: 1 1 1;
    background-color: grey;

}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 15px;
}

.project-tile-image {
    border-radius: 15px 15px 0px 0px ;
    min-height: 200px;
    width: 100%;
    background-color: brown;
}

.text-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 1rem 1rem 1rem ;
}

.project-title {
    font-family: sans-serif;
}

.website {
    color: brown;
}

.mobile-app {
    color:darkslateblue;
}

.project-type {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.project-tools {

    font-family: monospace;
    color: red;
}