body {
    background-color: rgb(39, 39, 39);

}

/* Some basic element styling */
a {
    color: aqua;

}

h1 {
    font-size: 3rem;
    font-family: sans-serif;
    color: beige;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1rem 0rem .75rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

ul {
    font-size: 1.5rem;
    line-height: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 2.5% 2.5% calc(400px + 2.5%);
}

.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    border-right: 2px solid beige;
    width: 400px;
    height: 100%;
}

/* Bio */
.bio-box {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    color: beige;
}

.bio-photo {
    justify-self: center;
    width: calc(100% - 8rem);
    margin: 0rem 1rem 0rem 1rem;
}

.bio {
    padding: 1rem;
    font-size: 1.25rem;
}

/* Header  */
header {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: .5rem;
}

header > h2 {
    color: beige;
}

.bio-icon {
    font-size: 2em;
    z-index: 2;
}


/* Project Tiles */
.project-tile-section {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    gap: 50px 50px;
    width: 100%;
    max-width: 1200px;
    margin-top: 1rem;
}

.projects-section-header {
    align-self: flex-start;
    margin-top: 5%;
    color: beige;
    font-family: monospace;
    width: 100%;
    background-color:darkviolet;
    padding: .5rem;
}
.project-tile-container {
    width: 350px;

}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 15px;
}

.project-tile-image {
    border-radius: 15px 15px 0px 0px ;
    min-height: 200px;
    width: 100%;
    background-color: brown;
}

.text-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 1rem 1rem 1rem ;
}

.project-title {
    font-family: sans-serif;
}

.website {
    color: brown;
}

.mobile-app {
    color:darkslateblue;
}


.project-tools {
    font-family: monospace;
    color: red;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: blueviolet;
    padding: .5rem;
    margin-bottom: 2rem;
}

.socials {
    flex: 1 1 1fr;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.icon {
    margin: 1rem;
    height: 2rem; 
    width: 2rem;
}

#linkedin-icon {
    height: 1.7rem;
    width: 1.7rem;
}

.icon-parent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-self: flex-end;

}


/* Here be Media Queries */

@media screen and (min-width: 400px) {
    .sidebar {
        display: none;
    }

    .wrapper {
        margin: 2.5%;
    }
}

@media screen and (min-width: 730px) {
    .sidebar {
        display: block;
        width: 300px;
    }

    .wrapper {
        margin: 2.5% 2.5% 2.5% calc(300px + 2.5%);
    }
}

@media screen and (min-width: 1230px) {
    .sidebar {
        display: block;
        width: 400px;
    }

    .wrapper {
        margin: 2.5% 2.5% 2.5% calc(400px + 2.5%);
    }
}