.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 2.5% 2.5% 2.5% ;
}

body {
    background-color: rgb(39, 39, 39);
}

/* Some basic element styling */
a {
    color: aqua;

}

h1 {
    font-size: 3rem;
    font-family: sans-serif;
    color: beige;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1rem 0rem .75rem;
}

p {
    font-size: 1.5rem;
}

ul {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Header  */
header {
    width: 100%;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}

.bio-icon {
    font-size: 2em;
    z-index: 2;
}

/* Project Tiles */
.project-tile-section {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    gap: 50px 50px;
    width: 100%;
    max-width: 1200px;
    background-color:rgba(100, 149, 237, 0.2);
    margin-top: 5%;
}

.project-tile-container {
    width: 350px;
    flex: 1 1 1;
    background-color: grey;

}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 15px;
}

.project-tile-image {
    border-radius: 15px 15px 0px 0px ;
    min-height: 200px;
    width: 100%;
    background-color: brown;
}

.text-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 1rem 1rem 1rem ;
}

.project-title {
    font-family: sans-serif;
}

.website {
    color: brown;
}

.mobile-app {
    color:darkslateblue;
}


.project-tools {

    font-family: monospace;
    color: red;
}

/* footer */
footer {
    margin-top: 5rem;
}

footer > div {
    color: beige;
    font-family: sans-serif;
    list-style: none;
    }

footer > h2 {
    margin: 2rem 0rem 1rem;
}

.socials {
    display: flex;
    flex-wrap: wrap;
}

.socials .icon {
    margin: .5rem;
    height: 2rem; 
    width: 2rem;
}